<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- link to compiled css file -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></head>
<body>
    <!-- link to compiled js file -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
    <h3>Confirmer la suppression</h3>
<p>Voulez-vous vraiment supprimer la commande suivante ?</p>
<ul>
    <li><strong>Description :</strong> {{ commande.Description_cmd }}</li>
</ul>

<form method="POST">
    {% csrf_token %}
    <button type="submit">Supprimer</button>
    <a href="{% url 'CmdList' %}">Annuler</a>
</form>

</body>
</html>